body{
    background-color: navy;
    box-sizing: border-box;
}

.header{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}
.para{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contactus{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 20px;
}

.address{
    max-width: 200px;
}

.location{
    float: left;
}
.header2{
    font-size: 20px;
}

.country{
    color: red;
}

.country:hover{
    text-decoration: underline;
}
.info1{
    float: right;
    padding-left: 300px;
    margin-bottom: -60px;
    position: fixed;
}

.info2{
    float: right;
    padding-left: 300px;
    position: fixed;
}

.form{
    float: right;
    color: #fff;
    margin: 96px;
}
.form .namenum{
    float: left;
    padding-right: 70px;
}
.pnum{
    margin-top: 70px;
}
.cname{
    margin-top: 70px;
}
.form .emcom{
    float:right
}
