body{
    padding: 0px;
    background-color: aqua;
}

.header {
    text-align: center;
    letter-spacing: 5px;
    border-style: inset solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(173, 141, 141);
}

.paragraph{ 
    padding: 10px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
    border-style: outset solid;
    color: rgb(17, 29, 159);
    font-style: italic;
}