.header {
  text-align: center;
}
.rounded {
    border-radius: 8px;
  }

.circled {
    border-radius: 50%;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .opacity{

      opacity: 0.5;
    }
