body{
    background-color: navy;
    box-sizing: border-box;
}

.header{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}
.para{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contactus{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}
.location{
    float: left;
}
.header2{
    font-size: 20px;
}

.country{
    color: red;
}

.country:hover{
    text-decoration: underline;
}
.info{
    float: right;
}

.form{
    float: right;
    color: #fff;
    margin: 96px;
}
.form .namenum{
    float: left;
}

.form .emcom{
    float:right
}