.para{
    min-width: 200px;
    min-height: 200px;
    background-color: red;
}

.max{
    max-width: 200px;
    max-height: 200px;
    background-color: yellow;
}

.span{
    max-width: 300px;
    max-height: 300px;
    background-color: bisque;
    overflow: scroll;
    margin-top: 170px;
}